<!DOCTYPE html>
<html lang="ENG">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="POST">
    <h3>LOGGED Page</h3>
    <div>
        Logged as {{ username }}
    </div>
</form>
</body>
</html>