<!DOCTYPE html>
<html lang="ENG">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="POST">
    <h3>Login page</h3>
    <div>
        <label for="login">User name:</label>
        <input type="text" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password">
    </div>
    <button type="submit"> Log in</button>
</form>
</body>
</html>